body {
    display: grid;
    justify-content: center;
    align-items: center;
      flex-direction: row;
    gap: 2em;
    height: 30vh;
    margin-top: 200px;
    width: 100vw;
    overflow: hidden;
    padding-bottom: 100px;
    background-color: #1C1C25;
    font-family: 'Montserrat';
  }
  
.text{
    color:#b7b7c7;
    text-align: center;

    
}



  .button {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    
    background-color: #25252F;
    filter: drop-shadow(0 10px 0 #101016);
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    
    cursor: pointer;
    transition: all ease 0.1s;
    
    position: relative;
    top: -10px;
  }
  
  .fa {
    color: #656572;
  }
  
  .button:hover {
    transform: translate(0, 10px);
    filter: none;
    clip-path: circle(50%);
  }
  
  .button:hover > .fa {
    color: #C4C4C4;
  }
  
  
  .button:active {
    filter: drop-shadow(0 -10px 0 #101016);
    transform: translate(0, 20px);
    clip-path: circle(50% at 50px 40px);
    background-color: #21212A;
  }
  
  /* ---------- END OF MAIN STYLES FOR BUTTON ---------- */
  
  
  /* ------------- */
  
  
  /* ---------- BEGINNING OF THE REST OF STYLES / OPTIONAL ---------- */
  
  .cont {
    background-color: #25252F;
    border-radius: 15px;
    transition: all ease 0.3s;
    filter: drop-shadow(0 0 10px rgb(0,0,0,30%));
    border: solid 0.5px #25252F;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
    padding: 20px;
  }
  
  .cont:hover {
    background-color: #2D2D38;
    border: solid 0.5px #97979B;
  }
  
  .cont2 {
    height: 200px;
    width: 200px;
    background-color: #1C1C25;
    border-radius: 10px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    color: #656572;
    font-size: 20px;
  }
  
  .button:hover > a {
    color: #C4C4C4;
  }
  
  
  .screws {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 150px;
  }
  
  .screw {
    height: 10px;
    width: 10px;
    background-color: #3B3B44;
    border-radius: 100%;
  }
  
  .link {
    background-color: #1C1C25;
  
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #DBDBD4;
    padding: 20px;
  }
  
  .link-cont > .cont {
    height: 60px;
  }
  
  .link-button {
    border-radius: 5px;
    background-color: #44AC9E; 
    height: auto;
    width: auto;
    padding: 15px 20px;
    font-weight: bold;
    filter: drop-shadow(0 10px 0 #267267);
    clip-path: inset(0% 0% -50% 0% round 5px);
  
  }
  
  .link-button:hover {
    clip-path: inset(0% 0% 0% 0% round 5px);
    
  }
  
  .link-button:active {
    background-color: #3D9A8E;
    clip-path: inset(-30% 0% 20% 0% round 5px);
    filter: drop-shadow(0 -10px 0 #267267);
  }
  
  .link-button > a {
    color: #4f716c;
    font-size: 16px;
  }
  
  .link-button:hover > a {
     color: #267267;
  }
  
  
  .link-cont {
    visibility: hidden;
    display: none;
  }
  
  .link-cont.visible {
    display: flex;
    visibility: visible;
  }
  
  .link-main {
    position: absolute;
    z-index: 10;
    left: 20%;
  }
  
  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 38, 90%);
    z-index: 5;
    left: 0px;
    border-radius: 15px;
    display: none;
    visibility: hidden;
  }
  
  .backdrop.visible {
    display: block;
    visibility: visible;
    cursor: pointer;
  }
  
  .button-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
  }
  
  p {
    color: #C4C4C4;
    line-height: 0;
    font-size: 14px;
  }


  i{
    color: #7d7f82;
  }
  
  .dark-version {
    width: 70px;
    height: 44px;
    position: relative;
    display: inline-block;
    border: 5px solid #25252F;
    border-radius: 50px;    
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);    
}
.dark-version input {
    display: none;
}
.dark-version .toggledark {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    transition: 0.5s;
    background: #ffffff;
    border-radius: 50px;
}
.dark-version .toggledark:before {
    top: 0;
    bottom: 0;
    width: 28px;
    left: 2px;
    content: "";
    height: 30px;
    margin: auto 0;
    position: absolute;
    transition: 0.5s;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%23ffba0d' d='M256 160c-52.9 0-96 43.1-96 96s43.1 96 96 96 96-43.1 96-96-43.1-96-96-96zm246.4 80.5l-94.7-47.3 33.5-100.4c4.5-13.6-8.4-26.5-21.9-21.9l-100.4 33.5-47.4-94.8c-6.4-12.8-24.6-12.8-31 0l-47.3 94.7L92.7 70.8c-13.6-4.5-26.5 8.4-21.9 21.9l33.5 100.4-94.7 47.4c-12.8 6.4-12.8 24.6 0 31l94.7 47.3-33.5 100.5c-4.5 13.6 8.4 26.5 21.9 21.9l100.4-33.5 47.3 94.7c6.4 12.8 24.6 12.8 31 0l47.3-94.7 100.4 33.5c13.6 4.5 26.5-8.4 21.9-21.9l-33.5-100.4 94.7-47.3c13-6.5 13-24.7.2-31.1zm-155.9 106c-49.9 49.9-131.1 49.9-181 0-49.9-49.9-49.9-131.1 0-181 49.9-49.9 131.1-49.9 181 0 49.9 49.9 49.9 131.1 0 181z'/%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
}
.dark-version input:checked + .toggledark {
    background: #1C1C25;
}
.dark-version input:checked + .toggledark:before {
    -webkit-transform: translateX(24px);
    transform: translateX(24px);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='%23FFFFFF' d='M283.211 512c78.962 0 151.079-35.925 198.857-94.792 7.068-8.708-.639-21.43-11.562-19.35-124.203 23.654-238.262-71.576-238.262-196.954 0-72.222 38.662-138.635 101.498-174.394 9.686-5.512 7.25-20.197-3.756-22.23A258.156 258.156 0 0 0 283.211 0c-141.309 0-256 114.511-256 256 0 141.309 114.511 256 256 256z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
}    


@media (max-width:920px){
  .cont{
      max-width:914px;
  }
}
@media (max-width:913px){
  .cont{
      max-width:821px;
  }
}

@media (max-width:820px){
  .cont{
      max-width:650px;
  }
}

@media (max-width:649px){
  .cont{
      max-width:none;
      display:flex;
      flex-direction: column;
      align-items:center;

  }

  body{
      margin-top:15px;
      overflow: auto;
  }
}